.root {
-fx-background-image: url("http://www.greenprm.com/images/bgPageImg3.jpg");
}
.label {
-fx-font-family: sans-serif;

}
#registerButton {
-fx-font-weight: bold;
}
#loginButton {
	-fx-font-weight: bold;
}
#loginUsernameLabel {
	-fx-font-size: 16px;
}
#loginPasswordLabel {
	-fx-font-size: 16px;
}
