.root {
-fx-background-image: url("Light-Blue-Background-2.jpg");
-fx-background-size: cover;
}
.label {
-fx-font-weight: bold;
}
#loginOutline {
-fx-background-color: white;
}
#custDetailOutline {
-fx-background-color: white;
}